@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display&display=swap');

.footer {
  font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    background-color: #008f95 !important;
    padding: 15px;
}
  
  .footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  
  .footer a:hover {
    color: white;
    border-bottom: 1px solid white;
  }

  